@font-face {
    font-family: 'Kaneda';
    src: url('./assets/Kaneda.TTF') format('truetype');
}

@font-face {
    font-family: 'Built Titling';
    src: url('./assets/Built Titling.TTF');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: #00d19a;
    color: #FFF;
}


