@font-face {
    font-family: 'Kaneda';
    src: url('./assets/Kaneda.TTF') format('truetype');
}

@font-face {
    font-family: 'Kaneda i';
    src: url('./assets/Kaneda-i.TTF');
}

@font-face {
    font-family: 'Built Titling';
    src: url('./assets/Built Titling.TTF');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: #00d19a;
    color: #FFF;
}

.no-scroll {
    overflow: hidden;
    padding-right: 15px;
}




.section {
    background-image: url('./src/assets/section.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 3383px;
}

.section h1 {
    padding: 200px;
    text-align: center;
    font-weight: bolder;
    font-family: 'Kaneda i';
    font-size: 250pt;
    color: #ffffff;
}
