
.container {
  border: 1px #ddd solid;
  width: 300px;
  height: 350px;
  border-radius: 10px;
  background-color: #fff;
  transition: box-shadow 0s ease;
  display: flex;
  flex-direction: column;
  transition: transform 0.25s ease;
  z-index: 998;
  color: #000;
}

.container.dark {
  background-color: #272727;
  border-color: transparent;
}


.container .rating-span {
  margin: 0;
  padding: 0;
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  background: #fff;
  box-shadow: 0 0 15px #bbb;
  border-radius: 50px;
  font: 16px Fakebnb;
  padding: 3px 12px;
}

.container.dark .rating-span {
  background-color: #333;
  box-shadow: none;
  color: #fff;
}

.container .cover {
  background: url("./src/assets/card-bg.png");
  background-size: cover;
  aspect-ratio: 16/10;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
  transition: background 0.5s ease;
  animation: background 1s forwards;
}

.container.dark .cover {
  background: url("./src/assets/dark/card-bg-dark.png");
}

.container .cover img {
  width: 120px;
  top: 50%;
  left: 50%;
  transition: transform 0.3s ease;
  animation: all 1s forwards;
}

.container:hover {
  transform: scale(1.025);
  cursor: pointer;
}

.container:hover .cover img {
  transform: scale(1.1);
}

.container .primary {
  font-size: 18px;
  font-family: Fakebnb;
  font-weight: bold;
}

.container.dark .primary {
  color: #fff;
  font-weight: normal;
}

.container .secondary {
  font-size: 18px;
  font-family: Fakebnb;
  opacity: 75%;
}

.container.dark .secondary {
  color: #fff;
  opacity: 50%;
}

.container .details {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 20px;
  justify-content: space-between;
}

.container .details .upper div {
  display: flex;
  flex-direction: column;
  gap: 3px;
}


.container .details .upper,
.container .details .lower div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container .details .upper {
  align-items: center;
}

.container .details .upper img {
  width: 40px;
}

.container .details .lower {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.container .details .lower div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}