

.footer {
    display: flex;
    flex-direction: column;
    padding: 50px 350px;
    margin-top: 50px;
    background-color: #f7f7f7;
    color: #666;
    font-family: Arial;
    transition: background-color 0.5s ease,
                color 0.5s ease;
}

.footer.dark {
    background-color: #222;
}

.footer h2 {
    font-family: Fakebnb;
    font-weight: normal;
    font-size: 30px;
    margin: 20px 0;
    text-align: left;
}

.footer .upper-part {
    display: flex;
    flex-direction: row;
}

.footer .upper-part .columns {
    flex: 1;
    gap: 15px;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}

.footer .upper-part a,
.footer .lower-part .socials i,
.footer .lower-part p,
.footer .lower-part h4 {
    cursor: pointer;
}

.footer .upper-part a:hover {
    text-decoration: underline;
}

.footer .lower-part {
    border-top: 2px #ddd solid;
    padding-top: 50px;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer .lower-part p {
    text-align: left;
}

.footer .lower-part span {
    margin: 0 10px;
}

.footer .socials {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.footer .socials i {
    color: #333;
    font-size: 28px;
    margin: 0 7px;
}


.footer.dark h2,
.footer.dark .upper-part h4,
.footer.dark .upper-part a,
.footer.dark .lower-part .socials i,
.footer.dark .lower-part p,
.footer.dark .lower-part h4 {
    color: #fff;
}


@media (max-width: 1200px) {
    .footer {
        margin: 50px;
    }
}

@media (max-width: 600px) {
    .footer .upper-part,
    .footer .lower-part {
        flex-direction: column;
        gap: 10px;
    }
    .footer span {
        position: absolute;
        color: transparent;
    }
}

