* {
    transition: all 0.3s ease;
    font-family: Arial;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
    padding: 50px 0;
    background-color: #fff;
    position: sticky;
    top: 0;
}

.header.scrolled {
    padding: 20px 0;
}

.header img {
    width: 50px;
    height: auto;
    background-color: transparent;
}

.header .search-bar {
    display: flex;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.header .search-section {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px 0px 20px 50px;
    border-radius: 20px;
    background-color: #fff;
    transition: all 0.3s ease, padding 0.5s cubic-bezier(1, 0, 0, 1);
}

.header .search-section:hover {
    background-color: #eee;
}

.header .search-section label {
    color: #333;
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;
}

.header .search-section input {
    border: none;
    color: #333;
    text-align: left;
    font-weight: bold;
    outline: none;
    padding: 5px 0;
    background-color: transparent;
}

.header .search-section input::placeholder {
    color: #999;
}

.header .search-button {
    position: relative;
    background-color: #4b67d2;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin-right: 20px;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .search-button:hover {
    background-color: #2943ab;
}

.header .search-button i {
    font-size: 18px;
    background-color: transparent;
}

.header.scrolled .search-section {
    padding-left: 0;
    transition: all 0.3s ease, padding 0.5s cubic-bezier(1, 0, 0, 1);
}

.header.scrolled .search-section label {
    background-color: transparent;
    color: transparent;
    position: absolute;
}

.header.scrolled .search-section input::placeholder {
    color: #333;
    font-weight: bold;
    text-align: center;
}

.header.scrolled .search-section input {
    text-align: center;
}

.dropdown {
    position: absolute;
    top: 40px;
    right: 185px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 120px;
    z-index: 10;
    text-align: left;
    transition: top 0.5s cubic-bezier(1, 0, 0, 1);
}

.header.scrolled .dropdown {
    top: 90px;
}

.dropdown p {
    margin: 0;
    padding: 10px;
    cursor: pointer;
    color: #333;
    font-size: 14px;
}

.dropdown p:hover {
    background-color: #f0f0f0;
    border-radius: 10px;
}






.counter-popup {
    position: absolute;
    display: flex;
    padding: 7px 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    left: 0;
    top: 70px;
    transition: all 0.3s ease;
}

.counter-popup input {
    padding: 0 50px;
}

.header.scrolled .counter-popup {
    transition: all 0.3s ease;
    top: 55px;
    left: -40px;
}

.counter-arrow {
    color: #fff;
    font-family: Sonsolas, monospace;
    background-color: #4b67d2;
    padding: 7px 11px;
    border: none;
    border-radius: 20%;
    font-size: 20px;
    cursor: pointer;
}












.datepicker .react-datepicker__day,
.datepicker .react-datepicker__day-name,
.datepicker .react-datepicker__current-month {
    color: #333;
}

.datepicker .react-datepicker__month-container {
    border-radius: 10px;
}

.datepicker .react-datepicker.datepicker {
    background: transparent;
}

.datepicker .react-datepicker__day--selected,
.datepicker .react-datepicker__day--keyboard-selected {
    background-color: #4b67d2;
    color: #fff;
}

.datepicker .react-datepicker__input-container {
    background-color: #4b67d2;
}

.header .search-section:hover .react-datepicker__input-container {
    position: relative;
    display: inline-block;
    background-color: #eee;
}